.sipContentContainer2 {
  position: relative;
  background: #fff;
  padding: 15px;
  margin: 0 0 15px;
  box-shadow: 0 2px 5px rgba(159, 163, 183, 0.51053);
  border-radius: 3px;
}


.sipInputBlock1 {
  margin-bottom: 0px;

  h3 {
    color: #299f9a;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}