//@font-face {
//  font-family: 'Core Sans GS';
//  font-display: auto;
//  src: local('Core Sans GS'), url('./assets/fonts/CoreSansGS/S-Core_-_CoreSansGS35Light1.ttf')
//  format('truetype');
//  font-weight: 300;
//  font-style: normal;
//}
@font-face {
  font-family: 'Core Sans GS';
  font-display: auto;
  src: local('Core Sans GS'), url('./assets/fonts/CoreSansGS/S-Core_-_CoreSansGS45Regular1.ttf')
  format('truetype');
  font-weight: 400;
  font-style: normal;
}
//@font-face {
//  font-family: 'Core Sans GS';
//  font-display: auto;
//  src: local('Core Sans GS'), url('./assets/fonts/CoreSansGS/S-Core_-_CoreSansGS55Medium1.ttf')
//  format('truetype');
//  font-weight: 500;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Core Sans GS';
//  font-display: auto;
//  src: local('Core Sans GS'), url('./assets/fonts/CoreSansGS/S-Core_-_CoreSansGS65Bold1.ttf')
//  format('truetype');
//  font-weight: 600;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Core Sans GS';
//  font-display: auto;
//  src: local('Core Sans GS'), url('./assets/fonts/CoreSansGS/S-Core_-_CoreSansGS75ExtraBold1.ttf')
//  format('truetype');
//  font-weight: 700;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Core Sans GS';
//  font-display: auto;
//  src: local('Core Sans GS'), url('./assets/fonts/CoreSansGS/S-Core_-_CoreSansGS85Heavy1.ttf')
//  format('truetype');
//  font-weight: 800;
//  font-style: normal;
//}
//// Lato
//@font-face {
//  font-family: 'Lato';
//  font-display: auto;
//  src: local('Core Sans GS'), url('./assets/fonts/Lato/Lato-Light.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Lato';
//  font-display: auto;
//  src: local('Core Sans GS'), url('./assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
//  font-weight: 400;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Lato';
//  font-display: auto;
//  src: local('Core Sans GS'), url('./assets/fonts/Lato/Lato-Medium.ttf') format('truetype');
//  font-weight: 500;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Lato';
//  font-display: auto;
//  src: local('Core Sans GS'), url('./assets/fonts/Lato/Lato-Semibold.ttf') format('truetype');
//  font-weight: 600;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Lato';
//  font-display: auto;
//  src: local('Core Sans GS'), url('./assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
//  font-weight: 700;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'Lato';
//  font-display: auto;
//  src: local('Core Sans GS'), url('./assets/fonts/Lato/Lato-Heavy.ttf') format('truetype');
//  font-weight: 800;
//  font-style: normal;
//}
// Styles
// CoreUI Icons Set
@import '~@coreui/icons/css/coreui-icons.css';
// Import Flag Icons Set
@import '~flag-icon-css/css/flag-icon.min.css';
// Import Font Awesome Icons Set
@import '~font-awesome/css/font-awesome.min.css';
// Import Simple Line Icons Set
@import '~simple-line-icons/css/simple-line-icons.css';
// Import Main styles for this application
@import './scss/style.scss';
