a,
button {
  transition: all 0.1s linear 0s;
}
body {
  color: #4a4a4a;
  word-break: break-word;
  word-wrap: break-word;
  font-family: 'Core Sans GS', Helvetica, Arial, sans-serif;
}
.app-header.navbar {
  padding-right: 15px;
}
.min-width-100px {
  min-width: 100px;
}
.min-width-90px {
  min-width: 90px;
}
.btn {
  padding: 0 12px;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
}
.pl-4-5 {
  padding-left: 32px;
}
//.btn-primary {
//  background: linear-gradient(180deg, #18a796 0%, #47c4ae 100%);
//  border-color: $primary;
//}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.bg-white {
  background-color: #fff;
}
.display-block {
  display: block !important;
}
.display-inline-block {
  display: inline-block !important;
}
.hide {
  display: none !important;
}
.sipFlatContainer {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}
.text-normal {
  font-weight: normal !important;
}
.text-style-normal {
  font-style: normal !important;
}
.text-semibold {
  font-weight: 600 !important;
}
.text-bold {
  font-weight: 700 !important;
}
.sipBoxShadow {
  box-shadow: 0 2px 5px rgba(159, 163, 183, 0.51053) !important;
}
.rotate-90 {
  transform: rotate(-90deg);
}

/*_________________________color for placeholder___________________________*/

input.form-control::placeholder {
  font-style: italic;
  opacity: 1; /* Firefox */
}
input.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-style: italic;
}

input.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  font-style: italic;
}
input.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: italic;
}
input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
}
input.form-control:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
}

/*____________________________________________________*/

.form-check-label {
  box-sizing: border-box;
  input.form-check-input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    position: relative;
    margin: 0 6px 0 0;
    top: 3px;
    outline: none;
    &:after {
      content: '';
      position: relative;
      top: 1px;
      height: 20px;
      width: 22px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &[type='radio'] {
      &:after {
        background-image: url('../assets/img/icon/iconRadio.svg');
      }
      &:checked:after {
        background-image: url('../assets/img/icon/iconRadioChecked.svg');
      }
    }
    &[type='checkbox'] {
      &:after {
        background-image: url('../assets/img/icon/iconCheckbox.svg');
      }
      &:checked:after {
        background-image: url('../assets/img/icon/iconCheckboxChecked.svg');
      }
    }
  }
}
.sipHeaderSearch {
  position: relative;
  width: 280px;
  padding: 10px 0 10px 10px;
  height: 55px;
  margin: 0;
  input.form-control {
    padding: 0 30px 0 10px;
  }
  button.btn {
    position: absolute;
    top: 14px;
    right: 4px;
    box-shadow: none;
    font-size: 12px;
    padding: 0;
    height: 27px;
    width: 27px;
    border: none;
    min-height: 0;
    line-height: 27px;
  }
}
.sipHeaderNoti {
  margin-right: 10px !important;
  .nav-link {
    .badge {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -16px;
      margin-left: 0;
    }
  }
  .dropdown-menu {
    width: 300px;
    .dropdown-item {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 7px 10px;
      img {
        width: 30px;
        margin-right: 10px;
      }
    }
  }
}
.sipHeaderUser {
  & > .nav-link {
    i {
      margin-left: 8px;
    }
  }
}
.app-body {
  .sidebar {
    background: #fff;
    .nav {
      .nav-dropdown-items {
        background: #f9f9f9 !important;
      }
      .nav-link {
        color: #4a4a4a !important;
        border-left: 4px solid transparent !important;
        background: #f9f9f9 !important;
        padding: 15px 8px 15px 38px;
        position: relative;
        i {
          color: $primary !important;
          font-size: 18px;
          position: absolute;
          top: 11px;
          left: 7px;
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-size: contain;
          &.sipIcon-home {
            background-image: url('../assets/img/icon/icon-home.svg');
          }
          &.sipIcon-dieuhanh {
            background-image: url('../assets/img/icon/icon-dieuhanh.svg');
          }
          &.sipIcon-edit {
            background-image: url('../assets/img/icon/icon-edit.svg');
          }
          &.sipIcon-truck {
            background-image: url('../assets/img/icon/icon-truck.svg');
          }
          &.sipIcon-package {
            background-image: url('../assets/img/icon/icon-package.svg');
          }
          &.sipIcon-contact {
            background-image: url('../assets/img/icon/icon-contact.svg');
          }
          &.sipIcon-money {
            background-image: url('../assets/img/icon/iconMoney.svg');
          }
        }
        &.active {
          color: $secondary !important;
        }
        &:hover {
          border-color: $primary !important;
          background: #fff !important;
          color: $primary !important;
        }
      }
      .nav-dropdown {
        .nav-dropdown-toggle {
          background: #fff !important;
          &:before {
            font: normal normal normal 14px/1 FontAwesome;
            background: none;
            content: '\F054';
            width: auto;
            height: auto;
            font-size: 10px;
          }
        }
        &.open .nav-dropdown-toggle {
          border-color: $primary !important;
          background: #fff !important;
          color: $primary !important;
          &:before {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
      }
    }
    .sidebar-minimizer {
      display: none;
    }
  }
  .main {
    background-color: #e9effb;
    position: relative;
    .container-fluid {
      padding: 20px;
    }
  }
}
.sipTitleContainer {
  margin: 0;
}
.sipTitle {
  color: #4a4a4a;
  font-size: 18px;
  display: inline-block;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  .btn {
    box-shadow: none;
    padding: 0 5px;
    background: none !important;
    border: none;
    margin-right: 8px;
    position: relative;
    top: -3px;
    &.sipTitleBtnBack {
      color: #000 !important;
      padding: 0;
    }
  }
}
.sipTitleRightBlock {
  display: flex;
  white-space: nowrap;
  & > .btn {
    img {
      margin-right: 5px;
      position: relative;
      top: -1px;
    }
    &.sipTitleRightBlockBtnIcon {
      background: #ffffff !important;
      border: 1px solid #e4e8eb;
      box-shadow: 0 2px 5px rgba(159, 163, 183, 0.51053);
      padding: 0 10px;
      height: 32px;
      img,
      i {
        color: #a1a6ab;
        margin: 0;
        font-size: 16px;
      }
    }
  }
}
.sipTitleRightBlockBtnIcon {
  background: #ffffff !important;
  border: 1px solid #e4e8eb;
  padding: 0 10px;
  height: 32px;
  img,
  i {
    color: #a1a6ab;
    margin: 0;
    font-size: 16px;
  }
}
.sipModalCouponInfo {
  width: 702px;
  height: 243px;
  margin: 100px auto;
  max-width: calc(100% - 20px);
  .modal-content {
    border: none;
    .modal-header {
      // margin-top: 20px;
      color: #000;
      padding: 20px 15px 0 15px;
      border-bottom: none;
      .modal-title {
        font-size: 18px;
        line-height: 21px;
      }
      .close {
        color: #C7C7CC;
        opacity: 0.8;
        font-size: 24px;
        padding: 0;
        margin: 0;
        &:hover {
          opacity: 1;
        }
      }
    }
    .modal-body {
      .form-group {
        label {
          color: $primary;
          font-weight: 600;
        }
      }
    }
    .modal-footer {
      padding: 0 20px;
      align-items: center;
      padding: 10px 15px;
      .btn{
        width: 107px;
        height: 37px;
      }
    }
  }
}
.sipTitleModalCreateNew {
  width: 568px;
  margin: 100px auto;
  max-width: calc(100% - 20px);
  .modal-content {
    border: none;
    .modal-header {
      background-color: $primary;
      padding: 10px 15px;
      .modal-title {
        font-size: 18px;
        color: #fff;
        font-weight: 600;
      }
      .close {
        color: #fff;
        opacity: 0.8;
        font-size: 24px;
        padding: 0;
        margin: 0;
        &:hover {
          opacity: 1;
        }
      }
    }
    .modal-body {
      padding: 20px 20px 0;
      .form-group {
        label {
          color: $primary;
          font-weight: 600;
        }
      }
    }
    .modal-footer {
      border-top: none;
      padding: 0 20px 20px;
      justify-content: center;
      //.btn {
      //  text-transform: uppercase;
      //  padding: 8px 20px;
      //  font-weight: 600;
      //  color: #fff !important;
      //  &.btn-primary {
      //    background: linear-gradient(180deg, #18a796 0%, #47c4ae 100%);
      //  }
      //}
    }
  }
}
.sipSelectForwardingItemContainer {
  overflow: auto;
  max-height: 450px;
}
.sipTableContainer {
  display: block;
  background: #fff;
  box-shadow: 0 2px 5px rgba(159, 163, 183, 0.51053);
  border-radius: 3px;
  width: 100%;
  overflow: auto;
  margin: 0 0 15px;
  .table {
    color: #191919;
    margin: 0;
    min-width: 800px;
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
    th {
      border-top: none;
      color: $primary;
      font-weight: 600;
    }
    th,
    td {
      padding: 8px;
      vertical-align: middle;
      &:first-child {
        padding: 8px 10px 8px 20px;
      }
    }
    .SipTableFunctionIcon {
      white-space: nowrap;
      .btn {
        padding: 0;
        background: none !important;
        border: none;
        box-shadow: none;
        margin: 0 5px;
        font-size: 12px;
        height: 28px;
        min-height: 0;
      }
    }
    .SipTableFunctionIcon {
      padding: 0;
      background: none !important;
      border: none;
      box-shadow: none;
      margin: 0 5px;
      font-size: 12px;
      height: 28px;
      min-height: 0;
    }
  }
}
.sipTableContainerAmountListContainer {
  position: relative;
  padding-right: 120px;
  background: #fff;
  .sipTableContainer {
    box-shadow: none;
  }
}
.sipTableContainerAmountList {
  .table {
    table-layout: fixed;
    //tbody tr:nth-of-type(odd) {
    //  background: none;
    //  td {
    //    background-color: #f4f4f4;
    //  }
    //}
    td,
    th {
      padding: 5px;
      word-break: normal;
      height: 55px;
      width: 100px;
      &:first-child {
        width: 120px;
      }
      &:nth-child(5),
      &:nth-child(9),
      &:nth-child(12) {
        width: 150px;
      }
      &:nth-child(8),
      &:nth-child(14) {
        width: 400px;
        word-break: break-word;
      }
      &:nth-child(15) {
        position: absolute;
        right: 0px;
        width: 120px;
        border-bottom: 0px solid #c8ced3;
        text-align: center;
        justify-content: center;
      }
    }
    th {
      white-space: nowrap;
      &:nth-child(15) {
        display: flex;
        align-items: center;
        border-bottom: none;
        padding-bottom: 10px;
        &:after {
          content: '';
          position: absolute;
          bottom: -1px;
          width: 100%;
          border-bottom: 2px solid #c8ced3;
          right: 0;
        }
      }
    }
    td {
      &:nth-child(15) {
        background: #fff !important;
        &:after {
          content: '';
          position: absolute;
          bottom: -1px;
          width: 100%;
          border-bottom: 1px solid #c8ced3;
          right: 0;
        }
        .sipTableAmountListOption {
          text-align: center;
        }
      }
    }
    .sipTableAmountListGroup {
      height: 32px;
      font-weight: 700;
      cursor: pointer;
      & > span {
        position: absolute;
        left: 15px;
      }
      & > .btn {
        position: absolute;
        right: 10px;
        padding: 0 8px;
      }
      & > .dropdown {
        position: absolute;
        right: 40px;
        padding: 0 8px;
      }
    }
  }
}
.sipTableContainerAmountListNoFix {
  .table {
    min-width: 2600px;
    td,
    th {
      &:nth-child(15) {
        position: relative;
        width: 120px;
        display: table-cell;
        padding-bottom: 2px;
        text-align: left;
        &:after {
          display: none;
        }
      }
      &:nth-child(14),
      &:nth-child(16),
      &:nth-child(17) {
        width: 200px;
      }
      &:nth-child(15),
      &:nth-child(16) {
        width: 150px;
      }
      &:nth-child(18) {
        width: 400px;
      }
      &:nth-child(19) {
        width: 200px;
      }
    }
    td {
      &:nth-child(15) {
        background: none !important;
      }
      &:nth-child(18) {
        max-width: 600px;
        word-break: break-word;
      }
    }
  }
}
.sipTableAmountListOption {
  & > .btn {
    padding: 0 5px;
    box-shadow: none !important;
    background: none !important;
    border: none;
  }
  .dropdown-menu {
  }
  .dropdown-item {
    padding: 8px 10px 8px 35px;
    position: relative;
    img {
      position: absolute;
      top: 7px;
      left: 7px;
    }
  }
}
.sipTableRowClickable tr {
  cursor: pointer;
}
.modal .sipTableContainer {
  box-shadow: none;
}
.sipLine {
  border-bottom: 1px solid #d6d6d6;
}
.sipTableBangKeFicoTr {
  td {
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(11),
    &:nth-child(12),
    &:nth-child(13),
    &:nth-child(14),
    &:nth-child(15),
    &:nth-child(16),
    &:nth-child(17) {
      text-align: right;
    }
  }
}
.app-header .navbar-brand {
  width: 195px;
}
.sidebar .sidebar-nav,
.sidebar .nav {
  width: 240px;
}
html:not([dir='rtl']) .sidebar {
  margin-left: -240px;
}
.sipFlatBtn {
  padding: 0;
  font-size: inherit;
  background: none !important;
  border: none;
  line-height: inherit;
  font-weight: inherit;
  color: $primary !important;
  box-shadow: none !important;
  position: relative;
  top: -1px;
  min-height: 0;
  height: auto;
}
.sipPagination {
  background: #fff;
  border-top: 2px solid #c8ced3;
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .pagination {
    margin: 0;
    text-align: center;
    display: block;
    .page-item {
      display: inline-block;
      margin: 0 1px;
      .page-link {
        border: none;
        font-size: 18px;
        color: #52575a;
        padding: 0 5px;
        height: 36px;
        min-width: 36px;
        line-height: 34px;
        cursor: pointer;
      }
      &.selected .page-link {
        background: none;
        border: 1px solid #94979b;
        cursor: auto;
        color: $primary;
      }
    }
    .sipPaginationNext,
    .sipPaginationPrev {
      position: relative;
      top: -3px;
      .page-link {
        color: #fff;
        border-radius: 4px;
        min-width: 32px;
        height: 32px;
        line-height: 30px;
        background: none !important;
        border: none !important;
        box-shadow: none !important;
      }
      &.disabled .page-link {
        opacity: 0.4;
      }
    }
    .sipPaginationNext {
      margin-left: 5px;
    }
    .sipPaginationPrev {
      margin-right: 5px;
    }
  }
}
.sipPaginationTotal {
  & > span {
    font-size: 16px;
    margin-left: 8px;
  }
}
.sipBgWhiteContainer {
  background: #fff;
  padding: 15px 0;
  margin: 0 0 15px;
  display: block;
  box-shadow: 0 2px 5px rgba(159, 163, 183, 0.51053);
}
.sipContentContainer {
  position: relative;
  background: #fff;
  padding: 15px;
  margin: 0 0 15px;
  box-shadow: 0 2px 5px rgba(159, 163, 183, 0.51053);
  height: 100%;
}

.sipInputQuantity {
  width: 361px;
  max-width: 100%;
  margin-left: 15px;
  display: inline-block;
  input.form-control {
    margin-left: 15px;
    float: initial;
  }
}

.sipScanCodeContainer {
  width: 400px;
  max-width: 100%;
  margin-right: 15px;
  display: inline-block;
  input.form-control {
    margin-right: 15px;
    float: left;
    width: calc(100% - 120px);
  }
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.sipTabContainer {
  position: relative;
  background: #fff;
  margin: 0 0 15px;
  box-shadow: 0 2px 5px rgba(159, 163, 183, 0.51053);
  .nav-tabs {
    border-bottom: 3px solid #d3d3d3;
    background: #fff;
    .nav-item {
      margin-bottom: -3px;
      .nav-link {
        border: none;
        border-bottom: 3px solid #d3d3d3;
        color: #6b6f83;
        padding: 10px 20px;
        .badge {
          background-color: #999;
          padding: 5px 5px 3px;
          margin-left: 8px;
          font-size: 13px;
          border-radius: 8px;
        }
        &.active {
          border-bottom-color: $secondary;
          color: #4a4a4a;
          font-weight: bold;
          .badge {
            background-color: $primary;
          }
        }
      }
    }
  }
  .tab-content {
    .tab-pane {
      padding: 0;
      &.sipTabContent {
        padding: 15px;
      }
      .sipTableContainer {
        margin: 0;
        box-shadow: none;
      }
    }
  }
}
.sipButtonTypeC {
  background-color: white;
  color: $primary;
  border-color: $primary;
  display: flex;
  align-items: center;
}

.custom-background-white {
  background: #ffffff !important;
  display: flex;
  border-bottom: none;

  .modal-title {
    width: 100%;
    p {
      color: #191919;
      fontweight: 300;
    }
    i {
      color: #e1e1e1;
      cursor: pointer;
    }
    .custom-header {
      display: flex;
      justify-content: space-between;
    }
  }
}
.heighFourHundredPx {
  height: 400px;
}

.float-right {
  float: right;
}

.ganBangKeVaoTaiPopUp {
  font-size: 14px;
  .nav-tabs .nav-item {
    width: 50%;
  }
}

.selectForwardingItem {
  color: #4a4a4a !important;
  font-weight: normal !important;
  margin: 0 -15px 12px 0;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding: 0 70px 10px 0;
  cursor: pointer;
  & > input {
    margin-right: 15px !important;
  }
  & > p {
    margin: 0;
    width: calc(100% - 32px);
    &.temporaryP {
      width: calc(100% - 42px);
    }
    span {
      display: block;
      &:first-child {
        color: $primary;
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 3px;
      }
    }
  }
  & > span {
    position: absolute;
    right: 10px;
    top: 0;
    text-align: right;
    span {
      display: block;
    }
  }
}

.sipFilterContainer {
  display: flex;
  padding: 15px 8px;
  .sipFilterCol {
    flex: 0 0 26%;
    padding: 0 7px;
    .react-bootstrap-daterangepicker-container {
      width: 100%;
      input.form-control {
        padding: 0 12px 0 32px;
      }
    }
    input.form-control,
    select.form-control {
      box-sizing: border-box;
    }
    &.sipFilterColBtn {
      flex: 0 0 22%;
      padding: 0 7px;
      .btn {
        margin-right: 15px;
      }
    }
  }
}
.sipFilterColSearch {
  position: relative;
  & > input.form-control,
  & > select.form-control {
    padding: 0 12px 0 32px;
  }
  & > img {
    position: absolute;
    top: 9px;
    left: 10px;
  }
  & > div {
    display: inline-block;
  }
}
.sipTableBtnStatus {
  height: 20px;
  padding: 0 10px;
  min-height: 0;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  border-radius: 10px;
  min-width: 110px;
  border: none;
}
.sipTableBtnStatus0 {
  background: #02b875 !important;
}
.sipTableBtnStatus1 {
  background: #f5a623 !important;
}
.sipTableBtnStatus2 {
  background: #3d88e1 !important;
}
.sipTableBtnStatus3 {
  background: #ed436c !important;
}
.sipTableBtnStatus4 {
  background: #a20000 !important;
}

/*_______________________________skeleton component_____________________________*/

.ant-skeleton {
  display: table;
  width: 100%;
  //position: absolute;
  //top: 0;
  //left: 0;
  //width: 100%;
  //height: 100%;
  //background: #fff;
  //padding: 20px;
}
.ant-skeleton-content {
  display: table-cell;
  width: 100%;
  vertical-align: top;
}
.ant-skeleton-content .ant-skeleton-title {
  width: 38%;
  height: 16px;
  background: #f2f2f2;
  margin-bottom: 40px;
  color: transparent;
}
.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title,
.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-paragraph > li {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(25%, #f2f2f2),
    color-stop(37%, #e6e6e6),
    color-stop(63%, #f2f2f2)
  );
  background: -webkit-linear-gradient(left, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
  animation: ant-skeleton-loading 1.4s ease infinite;
}
.ant-skeleton-content .ant-skeleton-title + .ant-skeleton-paragraph {
  margin-top: 24px;
}
.ant-skeleton-content .ant-skeleton-paragraph {
  padding: 0;
}
.ant-skeleton-content .ant-skeleton-paragraph > li {
  width: 100%;
  height: 16px;
  list-style: none;
  background: #f2f2f2;
}
.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title,
.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-paragraph > li {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(25%, #f2f2f2),
    color-stop(37%, #e6e6e6),
    color-stop(63%, #f2f2f2)
  );
  background: -webkit-linear-gradient(left, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
  animation: ant-skeleton-loading 1.4s ease infinite;
}
.ant-skeleton-content .ant-skeleton-paragraph > li + li {
  margin-top: 16px;
}
@-webkit-keyframes ant-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes ant-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.sipOrderInputRow {
  margin: 0 -10px;
}
.sipOrderInputCol {
  padding: 0 10px;
}
.sipOrderBtnSave {
  img {
    position: relative;
    top: -2px;
  }
}

.sipInputAddressDropdown {
  position: absolute;
  background: #fff;
  z-index: 1028;
  top: 39px;
  left: 15px;
  button {
    white-space: nowrap;
    padding: 5px 12px;
    color: #666;
    text-align: left;
    &:hover {
      background: #eee;
    }
  }
}
.sipInputAddressDropdownOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1025;
  background: none;
  border: none;
  padding: 0;
  box-shadow: none !important;
  outline: none !important;
}
.sipFicoBangKeInformation {
  margin-bottom: 5px;
  & > div {
    display: inline-block;
    width: 110px;
  }
}

/*______________________________________________RESPONSIVE__________________________________________________________*/

@media screen and (min-width: 992px) {
  html:not([dir='rtl']) .sidebar-lg-show.sidebar-fixed .main,
  html:not([dir='rtl']) .sidebar-lg-show.sidebar-fixed .app-footer,
  html:not([dir='rtl']) .sidebar-show.sidebar-fixed .main,
  html:not([dir='rtl']) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 240px;
  }
  .sidebar-fixed .sidebar {
    width: 240px;
  }
  .sidebar-minimized .sidebar .nav-item:hover {
    width: 250px;
    overflow: visible;
    .nav-link {
      background: $primary;
      color: #fff;
    }
  }
  .sidebar-minimized .sidebar .nav-dropdown-items {
    .nav-item {
      width: 250px;
      .nav-link {
        width: 250px;
      }
    }
  }
  .sidebar-minimized .sidebar .nav-link .nav-icon {
    width: 30px;
  }
}

@media screen and (min-width: 576px) {
  html:not([dir='rtl']) .sidebar-sm-show.sidebar-fixed .main,
  html:not([dir='rtl']) .sidebar-sm-show.sidebar-fixed .app-footer,
  html:not([dir='rtl']) .sidebar-show.sidebar-fixed .main,
  html:not([dir='rtl']) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 240px;
  }
}

/*____________________________________ULTRA LARGE DESKTOP_______________________________________________________________________*/

@media screen and (min-width: 1500px) {
}

/*_____________________________________PC____________________________________________________________________*/
/*___________________________________________________________________________________________________________*/

@media screen and (min-width: 1200px) {
  .hide-pc {
    display: none !important;
  }
  .show-xs {
    display: none !important;
  }
}

/*_____________________________________TABLET & MOBILE_______________________________________________________*/
/*___________________________________________________________________________________________________________*/
/*___________________________________________________________________________________________________________*/

@media screen and (max-width: 1200px) {
  .no-margin-mobile {
    margin: 0 !important;
  }
  .hide-mobile {
    display: none !important;
  }
  /*____________________________________________________________________________________________________*/

  .sidebar {
    width: 240px;
  }
  .app-header .navbar-brand {
    display: none;
  }
  .sipTabContainer .nav-tabs {
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    display: block;
    padding-bottom: 3px;
    border: none;
    .nav-item {
      display: inline-block;
    }
  }
  .sipTableContainer .table .SipTableFunctionIcon .btn {
    margin: 0 5px;
  }
  .sipFilterContainer .sipFilterCol {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }
  .sipFilterContainer .sipFilterCol.sipFilterColBtn {
    margin-bottom: 0;
    flex: 0 0 100%;
    .btn {
      width: 120px;
    }
  }
}

/*_____________________________________TABLET________________________________________________________________*/
/*___________________________________________________________________________________________________________*/
/*___________________________________________________________________________________________________________*/

@media screen and (max-width: 992px) and (min-width: 768px) {
  .show-xs {
    display: none !important;
  }
  /*_____________________________________________________________________________________*/
}

/*_____________________________________MOBILE________________________________________________________________*/
/*___________________________________________________________________________________________________________*/
/*___________________________________________________________________________________________________________*/

@media screen and (max-width: 768px) {
  .no-padding-xs {
    padding: 0 !important;
  }
  .no-margin-xs {
    margin: 0 !important;
  }
  .hide-xs {
    display: none !important;
  }

  /*_____________________________________________________________________________________*/

  .app-body .main .container-fluid {
    padding: 20px 15px;
  }
  .sipTitle {
    flex: 0 0 100%;
    width: 100%;
  }
  .sipTitleRightBlock {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
    flex-wrap: wrap;
    select.form-control {
      width: 150px;
      display: inline-block;
    }

    & > * {
      margin-bottom: 5px;
    }
  }
  .sipBgWhiteContainer {
    display: flex;
  }
}

/*_____________________________________SMALL MOBILE__________________________________________________________*/
/*___________________________________________________________________________________________________________*/

@media screen and (max-width: 500px) {
  .sipHeaderSearch {
    display: none !important;
  }
}
