a, button {
  transition: all 0.1s linear 0s;
}
body {
  color: #4A4A4A;
  word-break: break-word;
  word-wrap: break-word;
  font-family: 'Core Sans GS', Helvetica, Arial, sans-serif;
}
.app-header.navbar {
  padding-right: 15px;
}
.btn-primary {
  background: linear-gradient(180deg, #18A796 0%, #47C4AE 100%);
  border-color: #299F9A;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.bg-white {
  background-color: #fff;
}
.display-block {
  display: block !important;
}
.display-inline-block {
  display: inline-block !important;
}
.sipFlatContainer {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}
.text-normal {
  font-weight: normal !important;
}
.text-style-normal {
  font-style: normal !important;
}
.text-semibold {
  font-weight: 600 !important;
}
.text-bold {
  font-weight: 700 !important;
}
.sipBoxShadow {
  box-shadow: 0px 2px 5px rgba(159, 163, 183, 0.51053) !important;
}

/*_________________________color for placeholder___________________________*/

input.form-control::placeholder {
  font-style: italic;
  opacity: 1; /* Firefox */
}
input.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-style: italic;
}

input.form-control::-ms-input-placeholder { /* Microsoft Edge */
  font-style: italic;
}
input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
input.form-control::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
input.form-control:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

/*____________________________________________________*/

.form-check-label {
  box-sizing: border-box;
  input.form-check-input[type='radio'] {
    font: normal normal normal 14px/1 FontAwesome;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    font-size: 20px;
    position: relative;
    margin: 0 6px 0 0;
    top: 2px;
    color: #888;
    outline: none;
    &:after {
      content: "\F10C";
      background: #fff;
      position: relative;
      top: -2px;
      left: -2px;
      height: 14px;
      display: inline-block;
    }
    &:checked {
      color: #299F9A;
      &:after {
        content: "\F192";
      }
    }
  }
  input.form-check-input[type='checkbox'] {
    font: normal normal normal 14px/1 FontAwesome;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    font-size: 20px;
    position: relative;
    margin: 0 6px 0 0;
    top: 2px;
    color: #888;
    outline: none;
    &:after {
      content: "\F096";
      background: #fff;
      position: relative;
      top: -2px;
      left: -2px;
      height: 14px;
      display: inline-block;
    }
    &:checked {
      color: #299F9A;
      &:after {
        content: "\F14A";
      }
    }
  }
}
.sipHeaderSearch {
  position: relative;
  width: 280px;
  padding: 10px 0 10px 10px;
  height: 55px;
  margin: 0;
  input.form-control {
    padding: 0 30px 0 10px;
  }
  button.btn {
    position: absolute;
    top: 14px;
    right: 4px;
    background: #2DB4A1 !important;
    color: #fff !important;
    box-shadow: none;
    font-size: 12px;
    padding: 0;
    height: 27px;
    width: 27px;
  }
}
.sipHeaderNoti {
  margin-right: 10px !important;
  .nav-link {
    .badge {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -16px;
      margin-left: 0;
    }
  }
  .dropdown-menu {
    width: 300px;
    .dropdown-item {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 7px 10px;
      img {
        width: 30px;
        margin-right: 10px;
      }
    }
  }
}
.sipHeaderUser {
  & > .nav-link {
    font-size: 16px;
    i {
      margin-left: 8px;
    }
  }
}
.app-body {
  .sidebar {
    background: #fff;
    .nav-dropdown-items {
      background: #F9F9F9 !important;
    }
    .nav-link {
      color: #4A4A4A !important;
      border-left: 4px solid transparent !important;
      background: #F9F9F9 !important;
      padding: 12px 8px 12px 38px;
      position: relative;
      i {
        color: #299F9A !important;
        font-size: 18px;
        position: absolute;
        top: 12px;
        left: 10px;
      }
      &:hover {
        border-color: #299F9A !important;
        background: #fff !important;
        color: #299F9A !important;
      }
      &.active {
        color: #FD8301 !important;
      }
    }
    .nav-dropdown {
      .nav-dropdown-toggle {
        background: #fff !important;
        &:before {
          font: normal normal normal 14px/1 FontAwesome;
          background: none;
          content: "\F054";
          width: auto;
          height: auto;
          font-size: 10px;
        }
      }
      &.open .nav-dropdown-toggle {
        border-color: #299F9A !important;
        background: #fff !important;
        color: #299F9A !important;
        &:before {
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }
    }
    .sidebar-minimizer {
      display: none;
    }
  }
  .main {
    background-color: #E9EFFB;
    position: relative;
    .container-fluid {
      padding: 20px;
    }
  }
}
.sipTitleContainer {
  margin: 0;
}
.sipTitle {
  color: #4A4A4A;
  font-size: 18px;
  display: inline-block;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  .btn {
    box-shadow: none;
    padding: 0 5px;
    background: none !important;
    border: none;
    margin-right: 8px;
    position: relative;
    top: -3px;
  }
}
.sipTitleRightBlock {
  display: flex;
  & > .btn {
    color: #fff !important;
    background: #2DB4A1 !important;
    font-weight: 600;
    margin-left: 15px;
    i {
      margin-right: 5px;
    }
    &.sipTitleRightBlockBtnIcon {
      background: #FFFFFF !important;
      border: 1px solid #E4E8EB;
      box-shadow: 0px 2px 5px rgba(159, 163, 183, 0.51053);
      padding: 0 10px;
      height: 35px;
      i {
        color: #A1A6AB;
        margin: 0;
        font-size: 16px;
      }
    }
  }
}
.sipTitleRightBlockInput {
  width: 280px;
  position: relative;
  margin-left: 15px;
  display: inline-block;
  max-width: calc(100% - 15px);
  i {
    color: #9B9B9B;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  input.form-control {
    padding: 0 10px 0 30px;
  }
}
.sipTitleModalCreateNew {
  width: 568px;
  margin: 100px auto;
  max-width: calc(100% - 20px);
  .modal-content {
    border: none;
    .modal-header {
      background: linear-gradient(180deg, #18A796 0%, #47C4AE 100%);
      padding: 10px 15px;
      .modal-title {
        font-size: 18px;
        color: #fff;
        font-weight: 600;
      }
      .close {
        color: #fff;
        opacity: 0.8;
        font-size: 24px;
        padding: 0px;
        margin: 0;
        &:hover {
          opacity: 1;
        }
      }
    }
    .modal-body {
      padding: 20px 20px 0;
      .form-group {
        label {
          color: #299F9A;
          font-weight: 600;
        }
      }
    }
    .modal-footer {
      border-top: none;
      padding: 0 20px 20px;
      justify-content: center;
      .btn-secondary {
        background: linear-gradient(180deg, #18A796 0%, #47C4AE 100%);
        color: #fff !important;
        text-transform: uppercase;
        padding: 8px 20px;
        font-weight: 600;
      }
    }
  }
}
.sipTableContainer {
  background: #fff;
  box-shadow: 0px 2px 5px rgba(159, 163, 183, 0.51053);
  border-radius: 3px;
  width: 100%;
  overflow: auto;
  margin: 0 0 15px;
  .table {
    color: #191919;
    margin: 0;
    min-width: 800px;
    th {
      border-top: none;
      color: #299F9A;
      font-weight: 600;
    }
    th, td {
      padding: 8px;
    }
    .SipTableFunctionIcon {
      white-space: nowrap;
      .btn {
        padding: 0;
        background: none;
        border: none;
        box-shadow: none;
        margin: 0 10px;
        font-size: 12px;
      }
    }
  }
}
.modal .sipTableContainer {
  box-shadow: none;
}
.sipLine {
  border-bottom: 1px solid #D6D6D6;
}

.app-header .navbar-brand {
  width: 195px;
}
.sidebar .sidebar-nav, .sidebar .nav {
  width: 240px;
}
html:not([dir="rtl"]) .sidebar {
  margin-left: -240px;
}
.sipFlatBtn {
  padding: 0;
  font-size: inherit;
  background: none !important;
  border: none;
  line-height: inherit;
  font-weight: inherit;
  color: #299f9a !important;
  box-shadow: none !important;
  position: relative;
  top: -1px;
}
.sipPagination {
  background: #fff;
  padding: 15px;
  width: 100%;
  .pagination {
    margin: 0;
    text-align: center;
    display: block;
    .page-item {
      display: inline-block;
      margin: 0 1px;
      .page-link {
        border: none;
        font-size: 18px;
        color: #52575A;
        font-weight: 600;
        padding: 0 5px;
        height: 36px;
        min-width: 36px;
        line-height: 34px;
      }
      &.active .page-link {
        background: none;
        border: 1px solid #94979B;
      }
    }
    .sipPaginationNext, .sipPaginationPrev {
      margin-top: 2px;
      .page-link {
        background: linear-gradient(180deg, #18A796 0%, #47C4AE 100%);
        color: #fff;
        border-radius: 4px;
        min-width: 32px;
        height: 32px;
        line-height: 30px;
      }
    }
  }
}
.sipBgWhiteContainer {
  background: #fff;
  padding: 15px;
  margin: 0 0 15px;
  display: block;
  box-shadow: 0px 2px 5px rgba(159, 163, 183, 0.51053);
}
.sipContentContainer {
  position: relative;
  background: #fff;
  padding: 15px;
  margin: 0 0 15px;
  box-shadow: 0px 2px 5px rgba(159, 163, 183, 0.51053);
  height: 100%;
}
.sipScanCodeContainer {
  width: 320px;
  max-width: 100%;
  margin-right: 15px;
  display: inline-block;
  input.form-control {
    margin-right: 15px;
    float: left;
    width: calc(100% - 100px);
  }
  .btn {
    white-space: nowrap;
    width: 80px;
    padding: 6px 0;
  }
}

.sipTabContainer {
  position: relative;
  background: #fff;
  margin: 0 0 15px;
  box-shadow: 0px 2px 5px rgba(159, 163, 183, 0.51053);
  .nav-tabs {
    border-bottom: 3px solid #D3D3D3;
    background: #fff;
    .nav-item {
      margin-bottom: -3px;
      .nav-link {
        border: none;
        border-bottom: 3px solid #D3D3D3;
        color: #6B6F83;
        padding: 10px 20px;
        .badge {
          background-color: #999;
          padding: 5px 5px 3px;
          margin-left: 8px;
          font-size: 13px;
          border-radius: 8px;
        }
        &.active {
          border-bottom-color: #FD8301;
          color: #4A4A4A;
          .badge {
            background-color: #299F9A;
          }
        }
      }
    }
  }
  .tab-content {
    .tab-pane {
      padding: 0;
      &.sipTabContent {
        padding: 15px;
      }
      .sipTableContainer {
        margin: 0;
        box-shadow: none;
      }
    }
  }
}

/*_______________________________skeleton component_____________________________*/

.ant-skeleton {
  display: table;
  width: 100%;
  //position: absolute;
  //top: 0;
  //left: 0;
  //width: 100%;
  //height: 100%;
  //background: #fff;
  //padding: 20px;
}
.ant-skeleton-content {
  display: table-cell;
  width: 100%;
  vertical-align: top;
}
.ant-skeleton-content .ant-skeleton-title {
  width: 38%;
  height: 16px;
  background: #f2f2f2;
  margin-bottom: 40px;
  color: transparent;
}
.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title, .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-paragraph>li {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f2f2f2), color-stop(37%, #e6e6e6), color-stop(63%, #f2f2f2));
  background: -webkit-linear-gradient(left, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
  animation: ant-skeleton-loading 1.4s ease infinite;
}
.ant-skeleton-content .ant-skeleton-title+.ant-skeleton-paragraph {
  margin-top: 24px;
}
.ant-skeleton-content .ant-skeleton-paragraph {
  padding: 0;
}
.ant-skeleton-content .ant-skeleton-paragraph>li {
  width: 100%;
  height: 16px;
  list-style: none;
  background: #f2f2f2;
}
.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title, .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-paragraph>li {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f2f2f2), color-stop(37%, #e6e6e6), color-stop(63%, #f2f2f2));
  background: -webkit-linear-gradient(left, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
  animation: ant-skeleton-loading 1.4s ease infinite;
}
.ant-skeleton-content .ant-skeleton-paragraph>li+li {
  margin-top: 16px;
}
@-webkit-keyframes ant-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes ant-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/*______________________________________________RESPONSIVE__________________________________________________________*/

@media screen and (min-width: 992px) {
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 240px;
  }
  .sidebar-fixed .sidebar {
    width: 240px;
  }
  .sidebar-minimized .sidebar .nav-item:hover {
    width: 250px;
    overflow: visible;
    .nav-link {
      background: #2DB4A1;
      color: #fff;
    }
  }
  .sidebar-minimized .sidebar .nav-dropdown-items {
    .nav-item  {
      width: 250px;
      .nav-link {
        width: 250px;
      }
    }
  }
  .sidebar-minimized .sidebar .nav-link .nav-icon {
    width: 30px;
  }
}

@media screen and (min-width: 576px) {
  html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 240px;
  }
}

/*____________________________________ULTRA LARGE DESKTOP_______________________________________________________________________*/

@media screen and (min-width: 1500px) {

}

/*____________________________________LARGE DESKTOP_______________________________________________________________________*/

@media screen and (min-width: 1200px) {

}

/*_____________________________________PC____________________________________________________________________*/
/*___________________________________________________________________________________________________________*/


@media screen and (min-width: 992px) {
  .hide-pc {
    display: none !important;
  }
  .show-xs {
    display: none !important;
  }

}

@media screen and (max-width: 1200px) and (min-width: 992px) {


}

/*_____________________________________TABLET & MOBILE_______________________________________________________*/
/*___________________________________________________________________________________________________________*/
/*___________________________________________________________________________________________________________*/

@media screen and (max-width: 991.98px) {

  .no-margin-mobile {
    margin: 0 !important;
  }
  .hide-mobile {
    display: none !important;
  }
  /*____________________________________________________________________________________________________*/

  .sidebar {
    width: 240px;
  }
  .app-header .navbar-brand {
    display: none;
  }
  .sipTabContainer .nav-tabs {
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    display: block;
    padding-bottom: 3px;
    border: none;
    .nav-item {
      display: inline-block;
    }
  }
  .sipTableContainer .table .SipTableFunctionIcon .btn {
    margin: 0 5px;
  }


}

/*_____________________________________TABLET________________________________________________________________*/
/*___________________________________________________________________________________________________________*/
/*___________________________________________________________________________________________________________*/

@media screen and (max-width: 992px) and (min-width: 768px) {

  .show-xs {
    display: none !important;
  }
  /*_____________________________________________________________________________________*/





}

/*_____________________________________MOBILE________________________________________________________________*/
/*___________________________________________________________________________________________________________*/
/*___________________________________________________________________________________________________________*/

@media screen and (max-width: 768px) {

  .no-padding-xs {
    padding: 0 !important;
  }
  .no-margin-xs {
    margin: 0 !important;
  }
  .hide-xs {
    display: none !important;
  }

  /*_____________________________________________________________________________________*/

  .app-body .main .container-fluid {
    padding: 20px 15px;
  }
  .sipTitle {
    flex: 0 0 100%;
    width: 100%;
  }
  .sipTitleRightBlock {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
    & > * {
      margin-bottom: 5px;
    }
  }
  .sipBgWhiteContainer {
    display: flex;
  }

}

/*_____________________________________SMALL MOBILE__________________________________________________________*/
/*___________________________________________________________________________________________________________*/

@media screen and (max-width: 500px) {
  .sipHeaderSearch {
    display: none !important;
  }


}





