.sipOrderShippingInformationTitle {
  margin-right: 0px;
  margin-bottom: 11px;
  .backIcon {
    margin-right: 16px;
    font-size: 15px;
  }
}
.sipDescriptionServiceShipping {
  border-bottom: 1px solid #d6d6d6;
  margin: 0px;
  div {
    margin-top: 19px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 23px;
  }
}
.sipScanCode {
  input {
    margin-top: 16px;
    margin-left: 19px;
    background-color: #f5f5f5;
  }
  button {
    margin-top: 16px;
    margin-left: 16px;
    background-color: #2db4a1;
    border-radius: 5px;
    color: #fff;
  }
}
.sipShippingInformationAndScanCode {
  margin-top: 13px;
  background-color: #fff;
  height: 124px;
  margin-bottom: 12px;
  box-shadow: 0px 2px 5px rgba(159, 163, 183, 0.51053);
  border-radius: 3px;
}
.tabOrderShippingInformation {
  background-color: #fff;
}
.sipSummaryContent {
  background: #fff;
  margin-bottom: 15px;
  padding: 10px;
}
.sipSendingCoupon {
  background: #fff;
  margin: 0 0 30px;
  .row {
    margin: 0;
    width: 100%;
  }
  .sipSendingCouponItem {
    width: 28%;
    float: left;
    margin: 10px 0 0;
    min-width: 270px;
    max-width: 350px;
    div[class^='col'],
    div[class*=' col'] {
      padding: 5px 0 0 15px;
      input.form-control {
        text-align: right;
        padding: 0 10px;
        position: relative;
        top: -5px;
      }
    }
  }
  .sipLine {
    margin: 20px 0 0;
  }
}
.sipInputContainer {
  background: #fff;
  padding: 15px;
}
.sipInputBlock {
  margin-bottom: 10px;
  h3 {
    color: #299f9a;
    font-size: 14px;
  }
}
.sipInputItem {
  margin-bottom: 10px;
  & > label {
    padding-right: 0;
  }
  & > div {
    box-sizing: border-box;
    input.form-control {
      box-sizing: border-box;
    }
  }
}
.sipShippingInformationTitle {
  margin-right: 0px;
  background-color: #fff;
}
.sipFindOrder {
  margin: 11px 0;
  background-color: #fff;
  height: 65px;
  box-shadow: 0px 2px 5px rgba(159, 163, 183, 0.51053);
  border-radius: 3px;
  input {
    margin-top: 16px;
    margin-left: 19px;
    background-color: #f5f5f5;
  }
  button {
    margin-top: 16px;
    margin-left: 16px;
    background-color: #2db4a1;
    border-radius: 5px;
    color: #fff;
  }
}
