.sipSummaryContent {
  box-shadow: 0px 2px 5px rgba(159, 163, 183, 0.51053);
  border-radius: 3px;
  background: #fff;
  padding: 15px 0;
  margin: 0 0 15px;
}
.sipSendingCoupon {
  background: #fff;
  margin: 0 0 20px;
  .row {
    margin: 0;
    width: 100%;
  }
  .sipSendingCouponItem {
    width: 28%;
    float: left;
    margin: 10px 0 0;
    min-width: 270px;
    max-width: 350px;
    div[class^='col'],
    div[class*=' col'] {
      padding: 5px 0 0 15px;
      input.form-control {
        text-align: right;
        padding: 0 10px;
        position: relative;
        top: -5px;
      }
    }
  }
  .sipLine {
    margin: 20px 0 0;
  }
}
.sipInputContainer {
  background: #fff;
  padding: 15px;
}
.sipInputBlock {
  margin-bottom: 15px;
  h3 {
    color: #299f9a;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
.sipInputItem {
  margin-bottom: 10px;
  & > label {
    padding-right: 0;
  }
  & > div {
    box-sizing: border-box;
    input.form-control {
      box-sizing: border-box;
    }
    select.form-control {
      padding: 0 0 0 7px;
    }
  }
}
.sipInputItemGroup {
  margin: 0 -5px;
  div[class^='col'],
  div[class*=' col'] {
    padding: 0 5px;
  }
}
.sipInputItemDescription {
  font-size: 11px;
  font-weight: 500;
  margin: 5px 0;
}
.sipShippingInformationTitle {
  margin-right: 0px;
  background-color: #fff;
}
.reportFilterSearchTitle {
   margin-bottom: 15px;
   button {
     margin-right: 12px;
     background: #F5F5F5;
     border: 1px solid #D6D6D6;
     color: #919191;
     &.active, &:hover, &:focus {
       background: #DDF6F5 !important;
       border: 1px solid #299F9A !important;
       color: #299F9A !important;
     }
   }
 }
.findRecordButton {
  margin-bottom: 8px;
  button {
    margin: 0 12px 8px 0;
    background-color: #F5F5F5;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    color: #919191;
    &:hover, &.active {
      color: #299F9A !important;
      background: #DDF6F5 !important;
      border: 1px solid #299F9A !important;
    }
  }
}
.sipSearchButtonRecord {
  padding-left: 0;
  padding-top: 36px;
  div {
    margin-left: 8px;
    margin-top: 16px;
    padding-bottom: 17px;
    button {
      margin-left: 12px;
      background-color: #2db4a1;
      border-radius: 5px;
      color: #fff;
    }
  }
}
.sipTotalRecord {
  font-weight: 500;
  color: #4a4a4a;
  margin-left: 21px;
  padding-top: 20px;
  padding-bottom: 7px;
}

.modalCustom {
  width: 1000px;
  max-width: 100%;
}
.sipSearchButtonComplainRecord {
  button {
    background-color: #2db4a1;
    border-radius: 5px;
    color: #fff;
  }
}
.sipInformationTable {
  font-weight: 500;
  h6 {
    font-size: 12px;
    color: #299f9a;
  }
}
