.cursor-pointer {
  cursor: pointer;
}

.sipSummaryContent {
  box-shadow: 0 2px 5px rgba(159, 163, 183, 0.51053);
  border-radius: 3px;
  background: #fff;
  padding: 15px 0;
  margin: 0 0 15px;
}

.sipSendingCoupon {
  background: #fff;
  margin: 0 0 20px;

  .row {
    margin: 0;
    width: 100%;
  }

  .sipSendingCouponItem {
    width: 28%;
    float: left;
    margin: 10px 0 0;
    min-width: 270px;
    max-width: 350px;

    div[class^='col'],
    div[class*=' col'] {
      padding: 5px 0 0 15px;

      input.form-control {
        text-align: right;
        padding: 0 10px;
        position: relative;
        top: -5px;
        height: 30px;
      }
    }
  }

  .sipLine {
    margin: 15px 0 0;
  }
}

.sipInputContainer {
  background: #fff;
  padding: 15px;
}

.sipInputBlock {
  margin-bottom: 15px;

  h3 {
    color: $primary;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    .addNewPackageTabItemBtn {
      background: $primary !important;
      border: none;
      font-size: 12px;
      float: right;
      padding: 0 12px;
      color: #fff !important;
      border-radius: 13px;
      min-height: 0;
      height: 25px;
      line-height: 22px;
      img {
        position: relative;
        top: -1px;
        margin-right: 6px !important;
      }
    }
  }
}

.phieuGuiTrongNuoc {
  .sipFlatBtn {
    &:hover {
      color: $secondary!important;
      font-weight: bolder;
    }
    &:focus {
      color: $secondary!important;
      font-weight: bolder;
    }
  }
  .form-check-label {
    &:hover {
      color: $secondary!important;
    }
    .font-xs {
      &:hover {
        color: $secondary!important;
      }
      &:focus {
        color: $secondary!important;
      }
    }
  }
  .focus-item {
    color: $secondary!important;
  }
}

.sipOrderAdditionalServiceContainer {
  label.form-check-label {
    position: relative;
    padding-left: 42px;
    .form-check-input {
      position: absolute;
      top: -1px;
      left: 14px;
    }
  }
}

.sipInputItem {
  margin-bottom: 10px;
  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    width: 100%;
  }
  & > label {
    padding-right: 0;
  }

  & > div {
    box-sizing: border-box;

    input.form-control {
      box-sizing: border-box;
    }

    select.form-control {
      padding: 0 0 0 7px;
    }
  }
}

.sipInputItemError {
  color: #eb3c66;
  margin-top: 3px;
}

.sipInputItemGroup {
  margin: 0 -5px;

  div[class^='col'],
  div[class*=' col'] {
    padding: 0 5px;
  }
}

.sipInputItemDescription {
  font-size: 11px;
  font-weight: 500;
  margin: 5px 0;
}

.sipTitleRightBlockInput {
  position: relative;
  i {
    cursor: pointer;
    left: 10px;
    position: absolute;
    top: 10px;
  }
  input.form-control {
    padding: 0 10px 0 30px;
  }
}

.sipShippingInformationTitle {
  margin-right: 0;
  background-color: #fff;
}

.reportFilterSearchTitle {
  margin-bottom: 15px;

  button {
    margin-right: 12px;
    background: #f5f5f5;
    border: 1px solid #d6d6d6;
    color: #919191;

    &.active,
    &:hover,
    &:focus {
      background: #ddf6f5 !important;
      border: 1px solid $primary !important;
      color: $primary !important;
    }
  }
}

.findRecordButton {
  margin-bottom: 8px;

  button {
    margin: 0 12px 8px 0;
    background-color: #f5f5f5;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    color: #919191;

    &:hover,
    &.active {
      color: $primary !important;
      background: #ddf6f5 !important;
      border: 1px solid $primary !important;
    }
  }
}

.sipSearchButtonRecord {
  padding-left: 0;
  padding-top: 36px;

  div {
    margin-left: 8px;
    margin-top: 16px;
    padding-bottom: 17px;

    button {
      margin-left: 12px;
      background-color: $primary;
      border-radius: 5px;
      color: #fff;
    }
  }
}

.sipTotalRecord {
  font-weight: 500;
  color: #4a4a4a;
  margin-left: 21px;
  padding-top: 20px;
  padding-bottom: 7px;
}

.sipModalReportLookUp {
  width: 1000px;
}

.sipSearchButtonComplainRecord {
  button {
    background-color: $primary;
    border-radius: 5px;
    color: #fff;
  }
}

.sipInformationTable {
  font-weight: 500;

  h6 {
    font-size: 12px;
    color: $primary;
  }
}

//Drashboard
.sipGenDashBoard {
  border-radius: 5px;
  overflow: hidden;
  padding: 15px;
  background: #ffffff;
  display: block;
  box-shadow: 0 2px 5px rgba(159, 163, 183, 0.51053);
  position: relative;
  .highcharts-title {
    font-family: Core Sans GS;
  }
  .highcharts-legend {
    span,
    text {
      font-weight: normal !important;
      font-family: Core Sans GS;
    }
  }
}

.sipFilter {
  position: absolute;
  width: 200px;
  right: 15px;
  top: 15px;
  z-index: 2;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .fa-calendar-o {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #a7aaaf !important;
  }

  .fa-caret-down {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #9ea3a8 !important;
  }
}

.topDashBroad {
  padding: 10px 0;
  margin: 0;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 8px 1px #cdd2df;
  .itemCol {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #787b85;
    border-right: 1px solid #e1e1e1;
    img {
      position: relative;
      margin-right: 5px;
      top: -3px;
    }
    &:last-child {
      border-right: 0;
    }
  }
}

.chartLine {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-column-gap: 10px;

  .chart-item {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px #cdd2df;
  }
}

.highcharts-credits {
  display: none !important;
}

.formLocation {
  display: none;
}
.sipBoxSchedule {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 30px);
    background-color: #dddddd;
    top: 15px;
    left: 15px;
  }
  .itemTime {
    &::before {
      content: '';
      width: 12px;
      height: 12px;
      background-color: #dddddd;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: 25px;
    }
    &.active {
      &::before {
        background-color: #44ab4a;
        z-index: 1;
      }
      &::after {
        background-color: #ffffff;
        position: absolute;
        content: '';
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 2px;
        left: 22px;
        border: 1px solid #44ab4a;
      }
    }
  }
}
.packageTabTitle {
  box-sizing: border-box;
  a.nav-link {
    height: 35px;
    line-height: 33px;
    padding: 0 10px;
    border: 1px solid #c8ced3 !important;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    button {
      padding: 0 3px;
      border: none;
      font-size: 12px;
      margin-left: 5px;
      background: none !important;
      position: relative;
      top: -2px;
      color: inherit;
    }
    &.active {
      color: $primary !important;
      border-color: $primary !important;
      pointer-events: none;
    }
    &.deletablePackageItem {
      pointer-events: auto;
    }
  }
}
.packageTabContent {
  border: none;
  .tab-pane {
    padding: 0;
    margin-bottom: 15px;
  }
}
.sipModalAddPG {
  max-width: 789px;
}
.sipTableModal .table {
  min-width: 100%;
}
.no-border {
  border: none !important;
}
.ipOptionNV {
  border-bottom: 1px solid #d6d6d6;
  input {
    top: 15px !important;
  }
}
.sipTableNoBreakWord {
  word-break: normal;
}
.total{
  color: #299f9a;
}
@media screen and (max-width: 575px) {
  .topDashBroad {
    .itemCol {
      border-right: 0;
      border-bottom: 1px solid #e1e1e1;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .sipFilter {
    right: 15px;
    top: 55px;
  }
  .sipBoxSchedule {
    &::before {
      height: calc(100% - 50px);
    }
  }
}
.sapFicoEditModalDatepickerContainer {
  .react-datepicker-wrapper {
    width: 100%;
  }
}
//.khoan-muc {
//  .col-12:last-child {
//    border-bottom: none !important;
//  }
//}
.search-khoan-muc {
  background: #f5f5f5;
}
.sipFilterColDateRangeContainer > div {
  position: absolute;
  top: 100%;
  left: 0;
  width: 220px;
  z-index: 10;
}
.sipFilterColDateRangeContainer > div:nth-child(3) {
  left: 220px;
}
.fa-transition {
  transition: all 0.2s linear 0s;
}
.rotate {
  transform: rotate(-90deg);
}
.uploadFile {
  display: inline-block;
  text-decoration: none !important;
  max-width: 120px;
}
.uploadFile:hover{
  color:#ffffff ;
}
.uploadFile i{
  font-size: 18px;
  padding-right: 8px;
}
a.ml-2.uploadFile.info {
  margin-left: 0 !important;
  padding-top: 8px;
  border-radius: 0px 4px 4px 0px;
  background-color: #299f9a;
  color: #ffffff;
  padding-left: 8px;
}

.rbt-aux {
  margin-right: 20px;
  .rbt-close {
    margin-top: 0px;
  }
}
